space!

<form method="POST" action="/">
  <div>
    <select name="output_style">
      <option value="ball-and-stick">Ball and Stick</option>
      <option value="sophisticated-bubble">Sophisticated Bubbles [does not work]</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Generate STL" />
  </div>
</form>

<div>
<form action="/examples/hood/random" method="GET">
  <input type="submit" value="Show Random Neighborhood STL" />
</form>
</div>

<div>
  Sample SCAD files:
  <ul>
    <li><a href="/examples/hood/0">Neighborhood 0</a></li>
    <li><a href="/examples/hood/1">Neighborhood 1</a></li>
    <li><a href="/examples/hood/2">Neighborhood 2</a></li>
    <li><a href="/examples/hood/3">Neighborhood 3</a></li>
    <li><a href="/examples/hood/4">Neighborhood 4</a></li>
    <li><a href="/examples/hood/5">Neighborhood 5</a></li>
    <li><a href="/examples/hood/6">Neighborhood 6</a></li>
    <li><a href="/examples/hood/7">Neighborhood 7</a></li>
    <li><a href="/examples/hood/8">Neighborhood 8</a></li>
    <li><a href="/examples/hood/9">Neighborhood 9</a></li>
  </ul>
</div>
